[Unit]
Description=Control Center stable automatic update check
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/sbin/control-center-stable-update
TimeoutStartSec=20min
UMask=0027
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
